<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="./img/h-ico.png" type="image/x-icon" />
    <link rel="stylesheet" href="./styles/theme.css" />
    <link rel="stylesheet" href="./styles/my.css" />
    <link rel="stylesheet" href="./styles/adaptive.css" />
    <title>Vue3Js Todo-app</title>
  </head>
  <body>
    <div class="container" id="app" v-cloak>
      <div class="card menu">
        <a @click="isTodo = true" href="#">Todo</a>
        <a @click="isTodo = false" href="#">About</a>
      </div>
      <div v-if="isTodo" class="card">
        <h1 class="">{{title}}, <input placeholder="name here" v-model="userName" class="name" type="text" /></h1>
        <div class="form-control">
          <input
            autofocus
            type="text"
            :placeholder="placeholder"
            v-model="inputValue"
            @keypress.enter="!checkBox ? addNewNote(): inputValue= ''"
          />
        </div>
        <button class="btn" @click="addNewNote">Добавить</button>
        <input v-model="checkBox" type="checkbox" class="checkbox" />
        &nbsp;
        <span class="lbl">Поиск</span>
        <hr />
        <transition-group mode="out-in" name="listNote" tag="ul" class="list" v-if="notes.length != 0">
          <li class="list-item" v-for="(note,idx) in checkBox ? filerList : notes " :key="note.id">
            <span @click="changeText(idx)" :class="{'primary': true, 'bold': note.length > 5}"
              >{{idx+1}}. {{note.title}}
            </span>
            <button class="btn danger" @click.stop="removeNote(idx)">Удалить</button>
          </li>
        </transition-group>
        <div v-if="notes.length != 0">
          <hr />
          <transition name="fade" mode="out-in">
            <strong key="noteCountHide" v-if="!checkBox">Общее кол-во заметок: {{notes.length}}</strong>
            <strong key="noteSearchHide" v-else>Найденно: {{filerList.length}}</strong>
          </transition>
          | Версия: {{version}}
        </div>
        <div v-else>Заметок нет</div>
      </div>
      <div v-else class="card">
        <p>
          Привет, я <a href="#">d1erry</a> это моё первое приложение с использование Vue3Js. <br />
          Надеюсь оно тебе понравиться 😊
        </p>
        <div class="card center">
          <h3><a href="#">My GitHub profile ✔</a></h3>
        </div>
        <div class="card">
          <strong>application version: {{version}}</strong>
        </div>
      </div>
    </div>
    <!-- VUE load -->
    <script src="https://unpkg.com/vue@next"></script>
    <!-- <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script> -->
    <script type="module" src="app.js"></script>
  </body>
</html>
